# Frontend vars
CLIENT_PORT=8082
REACT_APP_API_URL=http://localhost:3001

# Backend vars
SERVER_PORT=3001
COUNTRIES_API_BASE_URL=https://restcountries.com/v3.1

DB_NAME=database
DB_USER=postgres
DB_PASS=secret
DB_PORT=5432
DATABASE_URL=postgresql://postgres:secret@database:5432/dreamvacations
